.all-auto-pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 820px;
  padding-bottom: 30px;
  background: darkcyan;

  margin-top: 50px;

  &__page {
    color: rgb(17, 48, 9);
    margin-top: 5px;
  }
}
