.about-game {
  display: flex;

  flex-direction: column;

  margin-left: 36px;
  margin-right: 184px;
  margin-top: 28px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
  }

  &__reg,
  &__configurate,
  &__start {
    display: flex;
    justify-content: space-between;
    width: 780px;
  }

  &__reg {
    margin-top: 20px;

    .description {
      background-image: url(../../assets/about-game/reg.png);
      height: 230px;
      width: 360px;
    }

    .visual {
      background-image: url(../../assets/about-game/image-1.png);
      height: 218px;
      width: 302px;
    }
  }

  &__configurate {
    margin-top: 16px;

    .description {
      background-image: url(../../assets/about-game/configurate.png);
      width: 360px;
      height: 132px;
    }

    .visual {
      background-image: url(../../assets/about-game/image-2.png);
      width: 116px;
      height: 73px;
    }
  }

  &__start {
    margin-top: 21px;

    .description {
      background-image: url(../../assets/about-game/start.png);
      width: 360px;
      height: 240px;
    }

    .visual {
      background-image: url(../../assets/about-game/image-3.png);
      width: 320px;
      height: 240px;
    }
  }
}
