.router {
  display: flex;
  width: 288px;

  &__item {
    width: 96px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);

    &_about {
      background-image: url(../../assets/header-navigation/about.png);
    }
    &_best {
      background-image: url(../../assets/header-navigation/best.png);
    }
    &_settings {
      background-image: url(../../assets/header-navigation/settings.png);
    }

    &_about,
    &_best,
    &_settings {
      background-repeat: no-repeat;
      height: 22px;
      width: 22px;
      margin-bottom: 9px;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      color: #fff;
      background: #1e88e5;
      cursor: auto;
    }
  }
}
