.cards-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding-bottom: 50px;
  padding-top: 50px;
  background: #686dc3;
}

.cards-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 1100px;

  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  padding-left: 10px;
  padding-right: 10px;
}

.card-container {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.3s;
  width: 250px;
  height: 300px;
}
.card-container:hover {
  transform: scale(1.05, 1.05);
}

.card-container.flipped {
  transform: rotateY(180deg) translateX(-100%);
  transform-origin: left;
}

.card-container.completed {
  background: rgba(255, 255, 255, 0.692);
}
.card-container.completed:hover {
  transform: none;
}

.page-card,
.page-card-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 300px;

  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  padding: 0;
  border-radius: 5px;

  text-decoration: none;

  backface-visibility: hidden;
}
.page-card-back {
  transform: rotateY(180deg);
}

.page-card-img {
  width: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-card-title {
  margin-top: 40px;
  width: 100%;
  text-transform: capitalize;
}
.page-card-title.none {
  display: none;
}

.page-card-rev-btn {
  display: flex;

  background: none;
  border: none;
  outline: none;

  position: absolute;
  top: 255px;
  left: 190px;
  z-index: 1;
  backface-visibility: hidden;
}

.page-card-rev-btn.none {
  display: none;
}
.page-card-rev {
  background-image: url(../../../assets/outline_autorenew_black_24dp.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.card-container.play > .page-card > .page-card-title,
.card-container.play > .page-card-rev-btn {
  display: none;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  background: #fd7e14;
  border-radius: 5px;

  border: none;
  outline: none;
  color: white;
  font-size: large;
}

.start-btn.none {
  visibility: hidden;
}

.repeat-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 20px;
  background: #fd7e14;
  border-radius: 50px;

  border: none;
  outline: none;
}
.repeat-img {
  background-image: url(../../../assets/repeat.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
