* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: space-between;
}
h1 {
  width: 1px;
  height: 1px;
  position: absolute;
}

/*HEADER*/
.header {
  z-index: 1;
  width: 100%;
  position: absolute;
  height: 110px;
  background-color: #f58021;
}
.header__logo {
  background-image: url(../../assets/icons/Logo.svg);
  min-width: 96px;
  min-height: 50px;
  margin-top: 30px;
}
.header__burger {
  display: none;
}

.header__menu {
  width: 39.7%;
  margin-top: 42px;
  margin-left: 36%;
  margin-right: 4.78%;
}
.header__menu_list {
  text-transform: uppercase;
  /*width: 556px;*/
}
.menu__list_icon {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.menu__list_icon a {
  text-decoration: none;
  color: #000000;
}
.menu__list_icon a:hover {
  color: #00a092;
}
.page a {
  color: #00a092;
}
.page a:hover {
  cursor: default;
}
.header__social_list,
.header__menu_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.header__social {
  width: 12.85%;
  margin-top: 35px;
}
.social__list_icon {
  display: flex;
}
.social__list_icon a:hover {
  transform: translate(1px, -2px);
}
.youtube {
  background-image: url(../../assets/icons/YouTube.svg);
  height: 40px;
  width: 40px;
}
.instagram {
  background-image: url(../../assets/icons/Instagram.svg);
  height: 40px;
  width: 40px;
}
.facebook {
  background-image: url(../../assets/icons/Facebook.svg);
  height: 40px;
  width: 40px;
}

/*MAIN*/
main {
  width: 100%;
  height: 1985px;
  background: #ffffff;
  display: flex;
}
.main__content {
  display: flex;
  flex-direction: column;
}
.main__content_img {
  background-image: url(../../assets/images/Touch\ the\ animal\ 1.svg);
  width: 1400px;
  height: 815px;
  margin-top: 110px;
}
/*get__in_touch*/
.get__in_touch {
  display: flex;
  margin-top: 150px;
}
.main__content_text {
  display: flex;
  flex-direction: column;
  width: 545px;
}
.main__content_title {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  color: #00a092;
}
.main__content_subtitle {
  margin-top: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #000000;
}
/*form*/
.main__content_form {
  display: flex;
  flex-direction: column;
  margin-left: 12.5%;
  width: 48.6%;
  height: 760px;
  justify-content: space-between;
}
.input__container {
  display: flex;
  flex-direction: column;
}
.input__container input {
  height: 60px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #969696;
  padding-left: 20px;
}
.input__container::before {
  content: "* " attr(name);
  height: 27px;

  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 10px;
}
.main__content_form input:focus {
  background: #ffffff;
  border-color: 1px solid #00a092;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
  border-radius: 5px;
}

.input__container textarea {
  max-height: 200px;
  max-width: 680px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #969696;
  padding-left: 20px;
  padding-top: 20px;
}
.input__container textarea:focus {
  background: #ffffff;
  border: 1px solid #00a092;
  box-sizing: border-box;
  box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
  border-radius: 5px;
}

.main__form_button {
  width: 359px;
  height: 74px;
  margin-top: 38px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #00a092;
  border-radius: 5px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.main__form_button img {
  margin-left: 10px;
}
.main__form_button:hover {
  cursor: pointer;
  background: #05786e;
  border: none;
}
.main__form_button:active {
  border: none;
}

/*FOOTER*/
footer {
  display: flex;
  width: 100%;
  height: 329px;
  background: #20113d;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  width: 1400px;
}
.footer__top_logos {
  display: flex;
  width: 414px;
  justify-content: space-between;
  margin-top: 82px;
}
.footer__top_logos img {
  max-width: 138px;
  max-height: 51px;
}
.footer__navigation {
  display: flex;
  margin-left: 7.21%;
}
.footer__navigation_list {
  width: 426px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 94px;
}
.footer__menu_list {
  display: flex;
}
.footer__menu_list a {
  text-decoration: none;
  color: #ffffff;
}

.footer__button {
  margin-left: 7.21%;
  margin-top: 70px;

  display: flex;
  justify-content: center;
  padding-top: 26px;
  width: 359px;
  height: 74px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__button img {
  margin-left: 10px;
}
.footer__button:hover {
  cursor: pointer;
  background-color: #00a092;
}

.footer__vector {
  background: url(../../assets/images/Vector3.svg);
  width: 100%;
  height: 1px;
  margin-top: 70px;
}

/*footer bottom*/
.footer__bottom {
  display: flex;
}
.footer__bottom_items {
  display: flex;
  width: 32%;
  justify-content: space-between;

  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 44px;
}
.footer__social {
  display: flex;
  margin-left: 53.7%;
  margin-top: 37px;
}
.footer__social_list {
  list-style-type: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.footer__list_icon {
  display: flex;
}
.footer__list_icon a:hover {
  transform: translate(1px, -2px);
}

/*MEDIA*/
@media (max-width: 1480px) {
  body {
    overflow-x: hidden;
  }
  .wrapper {
    width: 1120px;
  }
  /*header*/
  .header__logo {
    margin-left: 60px;
  }
  .header__menu {
    width: 481px;
    margin-left: 164px;
    margin-right: 80px;
  }
  .header__social {
    width: 180px;
    margin-right: 60px;
  }

  /*main*/
  main {
    height: 2071px;
  }
  .main__content_img {
    background: url(../../assets/images/media/Touch\ the\ animal\ 1.png);
    width: 1190px;
    min-height: 815px;
    margin-left: -40px;
    margin-top: 110px;
  }
  .get__in_touch {
    flex-direction: column;
    margin-top: 50px;
  }
  .main__content_text {
    width: 835px;
    margin-left: 183px;
    text-align: center;
  }
  .main__content_title {
    margin-left: -94px;
  }
  .main__content_subtitle {
    margin-top: 30px;
  }
  /*main form*/
  .main__content_form {
    width: 740px;
    height: 740px;
    margin-top: 50px;
    margin-left: 190px;
  }
  .input__container textarea {
    min-width: 740px;
  }
  .main__form_button {
    margin-top: 20px;
  }

  /*footer*/
  footer {
    width: 100%;
  }
  .footer__content {
    width: 1120px;
  }
  .footer__top {
    width: 1120px;
  }
  .footer__top_logos {
    min-width: 344px;
  }
  .footer__navigation {
    margin-left: 35px;
  }
  .footer__navigation_list {
    width: 347px;
  }
  .footer__button {
    margin-left: 35px;
    min-width: 360px;
  }
  .footer__vector {
    background: url(../../assets/images/media/Vector\ 1.svg);
    width: 1120px;
  }
  .footer__social {
    margin-left: 472px;
  }
}

@media (max-width: 1140px) {
  .wrapper {
    width: 600px;
  }
  /*header*/
  .header {
    position: fixed;
  }
  .header__logo {
    margin-left: 0px;
  }
  .header__menu,
  .header__social {
    display: none;
  }
  .header__burger {
    display: flex;
    width: 30px;
    height: 30px;
    background: url(../../assets/images/media/hamburger.svg);
    margin-top: 40px;
    margin-right: 27px;
    border: none;
  }
  .header__burger:hover {
    cursor: pointer;
    border: none;
  }
  .header__burger:focus {
    outline: none;
  }

  /*header menu open*/
  .header__menu_open {
    position: fixed;
    display: flex;
    width: 311px;
    height: 754px;
    background: #20113d;

    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0;
    right: 0;
  }
  .header__menu_open .header__menu_list {
    flex-direction: column;
    width: 121px;
    height: 335px;
  }
  .header__menu_open .menu__list_icon a {
    color: #ffffff;
  }
  .menu__list_icon a:hover {
    color: #00a092;
  }
  .header__menu_open .page a {
    color: #00a092;
  }
  .header__burger_open {
    position: fixed;
    margin: 0;
    z-index: 1;
    right: 47px;
    top: 40px;
    background: url(../../assets/images/media/close\ hamburger.svg);
  }

  /*main*/
  main {
    height: 1730px;
  }
  .main__content_img {
    background: url(../../assets/images/media/Touch\ the\ animal\ 1\ 640.png);
    background-repeat: no-repeat;
    width: 640px;
    margin-left: -20px;
    margin-top: 110px;
    min-height: 430px;
    max-height: 434px;
  }

  .main__content_text {
    margin-left: 0;
    width: 600px;
  }
  .main__content_title {
    margin-left: 0;
  }
  .main__content_subtitle {
    margin-left: 0;
    margin-top: 16px;
  }

  .main__content_form {
    width: 600px;
    height: 742px;
    margin-top: 50px;
    margin-left: 0px;
  }

  .input__container textarea {
    min-width: 600px;
  }

  .main__form_button {
    margin-left: 155px;
    width: 290px;
  }

  /*footer*/
  footer {
    height: 545px;
  }
  .footer__content {
    width: 600px;
  }
  .footer__top {
    width: 600px;
    flex-direction: column;
    align-items: center;
  }
  .footer__top_logos {
    margin-top: 50px;
    width: 442px;
  }
  .footer__navigation {
    margin-left: 0;
  }
  .footer__navigation_list {
    width: 445px;
    margin-top: 50px;
  }
  .footer__button {
    margin-left: 0;
    margin-top: 45px;
    min-width: 360px;
  }
  .footer__vector {
    width: 600px;
    margin-top: 51px;
  }
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__social {
    margin-left: 0;
    margin-top: 50px;
  }
  .footer__social_list {
    width: 220px;
  }
  .footer__bottom_items {
    width: 445px;
    margin-top: 32px;
  }
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .wrapper {
    width: 300px;
  }
  /*header*/
  .header__logo {
    margin-left: 10px;
  }
  .header__burger {
    width: 20px;
  }

  /*header menu open*/
  .header__menu_open {
    width: 233px;
    height: 600px;
  }
  .header__menu_open .header__menu_list {
    height: 295px;
  }
  .header__burger_open {
    width: 29px;
    right: 35px;
  }

  /*main*/
  main {
    height: 1500px;
  }
  .main__content_img {
    background: url(../../assets/images/media/Touch\ the\ animal\ 1\ 320.png);
    background-repeat: no-repeat;
    width: 319px;
    margin-left: -10px;
    margin-top: 110px;
    min-height: 215px;
    max-height: 217px;
  }
  .get__in_touch {
    margin-top: 30px;
  }
  .main__content_text {
    width: 300px;
  }
  .main__content_title {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
  }

  /*form*/
  .main__content_form {
    width: 300px;
    height: 645px;
    margin-top: 45px;
  }
  .input__container input {
    height: 50px;
  }
  .input__container textarea {
    min-width: 300px;
  }

  .main__form_button {
    width: 300px;
    height: 50px;
    border-radius: 5px;

    margin-top: 5px;
    margin-left: 0;
  }

  /*footer*/
  footer {
    height: 712px;
  }
  .footer__content {
    width: 300px;
    position: relative;
  }
  .footer__top {
    width: 300px;
  }

  .footer__top_logos {
    flex-direction: column;
    height: 210px;
    min-width: 159px;
    max-width: 159px;
    align-items: center;
  }
  .footer__navigation_list {
    width: 300px;
    margin-top: 30px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .footer__button {
    margin-left: 0;
    margin-top: 30px;
    min-width: 300px;
    max-width: 300px;
    height: 45px;
    padding-top: 10px;

    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: inherit;
  }

  .footer__vector {
    width: 300px;
    margin-top: 488px;
    position: absolute;
    height: 1px;
  }
  .footer__social {
    margin-top: 32px;
  }
  .footer__bottom_items {
    flex-direction: column;
    width: 300px;
    height: 140px;
    margin-top: 62px;
    align-items: center;
  }
}
