.admin-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 100px;
  padding-top: 50px;
  background: #686dc3;
}

.admin-cards-board {
  display: flex;
  justify-content: center;

  margin-top: 30px;
  max-width: 1100px;

  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  padding-left: 10px;
  padding-right: 10px;
}

.admin-card-type {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: 200px;

  background-color: rgb(238, 236, 232);
  color: black;

  padding-top: 20px;
}

.admin-card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 70%;
  text-decoration: none;
}

.admin-card-word {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;
  height: 320px;

  background-color: rgb(238, 236, 232);
  color: black;

  padding-top: 20px;
}
.admin-card-word__img {
  width: 250px;
  margin-bottom: 10px;
}
.admin-card-word__btn {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: blueviolet;
}
